@import "~bootstrap/scss/bootstrap";
@import "Sidebar.scss";
@import "~leaflet/dist/leaflet.css";

#root {
  display: flex;
  flex-direction: row;
  height: 100vh;
  width: 100vw;
  background-color: inherit;
}

#chartContainer {
  display: flex;
  align-items: center;
  height: 100%;
  width: 80%;
  margin-left: 20%;
}

.dashboard {
  margin-left: 20%;
  width: 80%;
  margin-top: 70px;
}

#map {
  margin-left: 20%;
  width: 80%;
  height: 100%;
}

.centered {
  position: fixed;
  top: 50%;
  left: 60%;
  transform: translate(-50%, -50%);
}

.fixed-top {
  left: 20%;
}
